@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
}

:root {
  --dark: #000;
  --light: #eee;
  --main: #ff4500;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
}

h1, p {
  color: var(--main);
  text-align: center;
  margin: 10px auto;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
}